@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Sora", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 768px) {
  .content-center {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .content-center {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1440px) {
  .content-center {
    width: 70%;
    margin: auto;
  }
}
